/* Custom Stylesheet */
a:hover {
  text-decoration: none;
  color: #026194;
}
a:hover span {
  text-decoration: underline;
}
h2 {
  font-size: 2.56rem;
  line-height: 110%;
  margin: 0.35rem 0 1.424rem 0;
}
.text-uppercase {
  text-transform: uppercase;
}
.fill-height {
  height: 100vh;
}
i.tiny {
  font-size: 1rem!important;
}

i.small {
  font-size: 1.5rem!important;
}

i.medium {
  font-size: 4rem!important;
}

i.large {
  font-size: 6rem!important;
}

.padding-right-10 {
  padding-right: 10px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.banner-text {
  padding-top: 15%;
}
.width-80 {
  width: 81%;
}
.parallax img {
  width: 100vw;
  /*bottom: 30%;*/
}
nav {
  height: 85px;
  line-height: 85px;
  -webkit-transition: all .4s ease,opacity .3s ease;
  transition: all .4s ease,opacity .3s ease;
}
.small-header nav {
  height: 55px;
  line-height: 55px;
}
nav .brand-logo {
  top: 10px;
  width: 250px;
  height: 66px;
  -webkit-transition: all .4s linear,opacity .3s ease;
  transition: all .4s linear,opacity .3s ease;
}
.small-header nav .brand-logo {
  /*top: 5px;*/
  /*!*width: 181px;*!*/
  /*height: 47px;*/
  /*-webkit-transition: all 2s linear,opacity .3s ease;*/
  /*transition: all 2s linear,opacity .3s ease;*/
}
nav .brand-logo img {
  max-height: 100%;
  max-width: 100%;
}
nav ul a,
nav .brand-logo {
  /*color: #444;*/
}
nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: #444;
  display: inline-block;
  /*padding: 0 20px 0 5px;*/
  cursor: pointer;
}
nav i.material-icons {
  display: inline-block;
  padding: 0 5px 0 0;
  height: 56px;
  line-height: 56px;
  color: inherit;
}
.side-nav a {
  color: rgba(255, 255, 255, 0.87);
}
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
  color: inherit;
}
p {
  line-height: 1.5rem;
}

.button-collapse {
  color: #007caf;
}

.parallax-container {
  min-height: 350px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container.top {
  min-height: 420px;
  height: 50vh;
}
.parallax-container.top img{
  bottom: 20% ;
}
.parallax-container .section {
  width: 100%;
}

.parallax-container.top img.parallax-about-image{
  bottom: 0 ;
}
/*img.parallax-about-image {*/
  /*bottom: 30%;*/
/*}*/

nav ul li.active {
  background-color: transparent;
}
nav ul li.active a {
  color: #019ccf !important;
}
nav ul li a:hover {
  background-color: transparent;
  color: #026194 !important;
}
nav ul li a i {
  transition: font-size .3s;
}
nav ul li a:hover i {
  font-size: 1.8rem !important;
}
nav ul li {
  transition: background-color .3s;
  float: left;
  padding: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  /*.parallax-container.top {*/
  /*min-height: 620px;*/
  /*}*/
  /*.parallax-container.top img{*/
  /*bottom: 20% !important;*/
  /*}*/
  #index-banner .section {
    top: 10%;
  }
}
/*@media only screen and (max-width : 1200px) {*/
/*.parallax-container .section {*/
/*position: absolute;*/
/*top: 40%;*/
/*}*/
/*.parallax-container.top {*/
/*min-height: 620px;*/
/*}*/
/*.parallax-container.top img{*/
/*bottom: 20% !important;*/
/*}*/
/*#index-banner .section {*/
/*top: 10%;*/
/*}*/
/*}*/


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  nav {
    height: 55px;
    line-height: 55px;
    -webkit-transition: all .4s ease,opacity .3s ease;
    transition: all .4s ease,opacity .3s ease;
  }
  /*.small-header nav {*/
  /*height: 55px;*/
  /*line-height: 55px;*/
  /*}*/
  nav .brand-logo {
    width: 150px;
    /*top: 10px;*/
    -webkit-transition: none;
    transition: none;
  }
}

.icon-block {
  /*padding: 0 15px;*/
}
.icon-block .material-icons {
  font-size: inherit;
}
.container .row {
  margin-left: 0;
  margin-right: 0;
}
.container .row.intro-section {
  margin-left: -20px;
}
footer.page-footer {
  margin: 0;
  background-color: #1f313b;
}
footer.page-footer a:hover {
  text-decoration: underline;
}
.footer-contact-item {
  min-width: 250px;
}

.container {
  width: 100%;
  padding: 0 85px;
}
footer.page-footer .footer-copyright {
  background-color: #162229;
}
footer.page-footer .footer-copyright .container {
  padding: 0 10px 0 118px;
}

.maps iframe{
  pointer-events: none;
}
/* Contact form */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #019ccf;
  box-shadow: 0 1px 0 0 #019ccf;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: #f5f5f5;
  margin: 5px 0;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
  padding: 0px 5px;
}
textarea.materialize-textarea {
  min-height: 8rem;
}
.input-field .prefix {
  color: #026194;
}
.input-field .prefix.active {
  color: #019ccf;
}
.input-field label {
  top: 1rem;
}
/*.input-field label.active {*/
  /*font-size: 1rem;*/
/*}*/
.last-name-field {
  padding: 0 11px 0 1px !important;
}
.last-name-field input {
  padding: 0 5px;;
}
.contact-form form {
  margin-left: -16px !important;
}
.contact-form .input-field.submit-button {
  padding-left: 54px;
}
.contact-form h5 {
  /*margin-left: 63px;*/
  margin-bottom: 20px;
}
.backdrop {
  background-color: #026194;
}
.track-image img {
  width: 300px;
}