{{#> layouts/base title="PBX Logistics - reliable partner in the field of logistics and cargo forwarding" }}

  {{#*inline "head-block"}}

  {{/inline}}

  {{#*inline "nav-block"}}
    {{> includes/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div id="index-banner" class="parallax-container top">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center banner-text">
            <!--<h3 class="header col s12 text-uppercase">Powered by driver and customer needs</h3>-->
            <!--<h6 class="header col s12 text-uppercase">Providing service to our clients to meet their just-in-time requirements</h6>-->
          </div>
        </div>
      </div>
      <div class="parallax"><img src="images/intro-image2.jpg" alt="PBX office image" class="parallax-about-image"></div>
    </div>

    <div class="container padding-top-20">
      <!--   Contact form section   -->
      <div class="section careers">
        <div class="row intro-section">
          <div class="col s12">
            <div class="icon-block flex">
              <h2 class="red-text text-accent-4 padding-right-10"><i class="material-icons">supervisor_account</i></h2>
              <div>
                <h5>About us</h5>
                <div class="flex">
                  <!--<img src="images/pbx-logo-front.jpg" class="circle padding-right-10 logo-pre" alt="PBX logo">-->
                  <p>PBX Logistics has grown rapidly largely thanks to its committed drivers and working ownership. Only team drivers are utilized  and to maintain the high standard of the driver pool, trainers are hired to ensure this standard is maintained.
                  </p>
                </div>
                <div class="flex">
                  <!--<img src="images/pbc-logo-front.jpg" class="circle padding-right-10 logo-pre" alt="PBS logo">-->
                  <p>By concentrating on providing service to our clients to meet their just-in-time requirements through flexible and tailored solutions, PBX Logistics has grown steadily. With <a class="tooltipped" data-position="top" data-delay="0" data-tooltip="jason@pacificblue.ca">Jason</a>, <a class="tooltipped" data-position="top" data-delay="0" data-tooltip="miljan@pacificblue.ca">Miljan</a> and <a class="tooltipped" data-position="top" data-delay="0" data-tooltip="shamim@pacificblue.ca">Shamim</a> working full time, PBX has been able to sustain a high level of customer satisfaction.</p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center"><img src="images/track1.png" alt="Track image"></div>
          </div>
        </div>
      </div>
    </div>

  {{/inline}}

  {{#*inline "footer-block"}}
    {{> includes/footer}}
  {{/inline}}

  {{!-- Let's add another script for this layout. --}}
  {{#*inline "scripts-block"}}
    {{> includes/scripts }}
  {{/inline}}

{{/layouts/base}}
