{{#> layouts/base title="PBX Logistics - reliable partner in the field of logistics and cargo forwarding" }}

  {{#*inline "head-block"}}

  {{/inline}}

  {{#*inline "nav-block"}}
    {{> includes/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div id="index-banner" class="parallax-container top">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center banner-text">
            <!--<h3 class="header col s12 text-uppercase">Powered by driver and customer needs</h3>-->
            <!--<h6 class="header col s12 text-uppercase">Providing service to our clients to meet their just-in-time requirements</h6>-->
          </div>
        </div>
      </div>
      <div class="parallax"><img src="images/intro-image6.jpg" alt="Track image" class="parallax-careers-image"></div>
    </div>

    <div class="container padding-top-20">
      <!--   Contact form section   -->
      <div class="section careers">
        <div class="row intro-section">
          <div class="col s12">
            <div class="icon-block flex">
              <h2 class="red-text text-accent-4 padding-right-10"><i class="material-icons">person_pin</i></h2>
              <div>
                <h5>Careers</h5>
                <p>Our drivers are a very important part of PBX but it is the team effort of our experienced workforce that pulls it all together. Their dedication and skills (dispatch logistics, customer relations, IT, accounting, training, administration, mechanics, etc) keep our operation running smoothly.</p>
                <p>We offer competitive salaries and benefits to all our employees.</p>
                <p>Are you an enthusiastic, motivated individual who wants to challenge yourself, develop your personal skills and strengths and be part of our winning PBX team? If you are, please submit your resume and letter of interest to <a href="mailto:careers@pbx.com">careers@pbx.com</a> today.</p>

                <p class="padding-top-20 padding-bottom-20">If you are looking for a driver position, please fill out the form below and attach it with your email:</p>
                <p class="link-bigger-font">
                  <a href="./pdf/PBX - Drivers Application form.pdf" class="flex">
                    <i class="material-icons small padding-right-10">picture_as_pdf</i>
                    <span class="">PBX - Drivers Application form.pdf</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/inline}}

  {{#*inline "footer-block"}}
    {{> includes/footer}}
  {{/inline}}

  {{!-- Let's add another script for this layout. --}}
  {{#*inline "scripts-block"}}
    {{> includes/scripts }}
  {{/inline}}

{{/layouts/base}}
