{{#> layouts/base title="PBX Logistics - reliable partner in the field of logistics and cargo forwarding" }}

  {{#*inline "head-block"}}

  {{/inline}}

  {{#*inline "nav-block"}}
    {{> includes/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div id="index-banner" class="parallax-container top">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center banner-text">
            <!--<h3 class="header col s12 text-uppercase">Powered by driver and customer needs</h3>-->
            <!--<h6 class="header col s12 text-uppercase">Providing service to our clients to meet their just-in-time requirements</h6>-->
          </div>
        </div>
      </div>
      <div class="parallax"><img src="images/intro-image4.jpg" class="parallax-services-image" alt="Track image"></div>
    </div>

    <div class="container padding-top-20">

      <div class="section services">
        <div class="row intro-section">
          <div class="col s12">
            <div class="icon-block flex">
              <h2 class="red-text text-accent-4 padding-right-10"><i class="material-icons">star</i></h2>
              <div>
                <h5>Warehouse</h5>
                <p>PBX Logistics, through their warehouse in Burnaby, BC, offers temperature controlled storage capacities. Their multi-door warehouse enables the swift and efficient integration with trucking services.</p>
                <p>To facilitate understanding, to service and meet customer needs, representatives are available on a 24/7 basis.</p>
              </div>
            </div>
          </div>
          <div class="col s12">
            <div class="icon-block flex">
              <h2 class="red-text text-accent-4 padding-right-10"><i class="material-icons">near_me</i></h2>
              <div>
                <h5>Distribution</h5>
                <p>The cross-docking facilities, ocean shipping container de-stuffing and transloading services and inventory management enable the PBX team to receive and re-route incoming shipments to multiple destinations.</p>
                <p>PBX offers truckload and less than truckload services throughout many areas of North America, particularly on the American I-5 corridor and Eastern USA and has the necessary warehouse and distribution ability to support the over the road service.</p>
              </div>
            </div>
          </div>
          <div class="center-align track-image"><img src="images/track-local.png"></div>
        </div>
      </div>
    </div>

  {{/inline}}

  {{#*inline "footer-block"}}
    {{> includes/footer}}
  {{/inline}}

  {{!-- Let's add another script for this layout. --}}
  {{#*inline "scripts-block"}}
    {{> includes/scripts }}
  {{/inline}}

{{/layouts/base}}
