<footer class="page-footer">
  <div class="container padding-bottom-20 padding-top-20">
    <div class="row flex flex-wrap align-content-center justify-content-space-between">
      <div class="padding-bottom-10 footer-contact-item">

        <div class="flex flex-nowrap">
          <div class="padding-right-10 blue-text"><i class="material-icons">location_on</i></div>
          <div class="white-text light">
            <h6 class="grey-text">Address</h6>
            <div>PBX Logistic inc.</div>
            <div>5628 Riverbend Drive #2,</div>
            <div>Burnaby, British Columbia,</div>
            <div>V3N 0C1 Canada</div>
          </div>
        </div>
      </div>
      <div class="padding-bottom-10 footer-contact-item">
        <div class="flex flex-nowrap">
          <div class="padding-right-10 blue-text"><i class="material-icons">call</i></div>
          <div class="white-text light">
            <h6 class="grey-text">Phone</h6>
            <div>Phone: 604-777-9720</div>
            <div>Fax: 604-777-1049</div>
          </div>
        </div>
      </div>
      <div class="padding-bottom-10 footer-contact-item">
        <div class="flex flex-nowrap">
          <div class="padding-right-10 blue-text"><i class="material-icons">email</i></div>
          <div class="white-text light">
            <h6 class="grey-text">Email</h6>
            <div><a href="mailto:jason@pacificblue.ca" class="white-text">jason@pacificblue.ca</a></div>
            <div><a href="mailto:miljan@pacificblue.ca" class="white-text">miljan@pacificblue.ca</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright &copy; <span class="footer-year"></span><script>document.write(new Date().getFullYear())</script> PBX Logistics Ltd.
    </div>
  </div>
</footer>