<div class="navbar-fixed">
  <!--<div data-include="templates/navigation.html"></div>-->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">
        <img src="images/pbx-logo.png" alt="PBX logo"/>
      </a>
      <ul class="right hide-on-med-and-down">
        <!--<li><a href="#">Home</a></li>-->
        <li>
          <a href="index.html" class="flex align-items-center">
            <i class="material-icons small">home</i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="about.html" class="flex align-items-center">
            <i class="material-icons small">supervisor_account</i>
            <span>About us</span>
          </a>
        </li>
        <li>
          <a href="services.html" class="flex align-items-center">
            <i class="material-icons small">local_shipping</i>
            <span>Services</span>
          </a>
        </li>
        <li>
          <a href="careers.html" class="flex align-items-center">
            <i class="material-icons small">person_pin</i>
            <span>Careers</span>
          </a>
        </li>
        <li>
          <a href="contact.html" class="flex align-items-center">
            <i class="material-icons small">mail_outline</i>
            <span>Contact us</span>
          </a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav flex-column grey darken-4">
        <li>
          <a href="index.html" class="flex align-items-center">
            <i class="material-icons small">home</i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="about.html" class="flex align-items-center">
            <i class="material-icons small">supervisor_account</i>
            <span>About us</span>
          </a>
        </li>
        <li>
          <a href="services.html" class="flex align-items-center">
            <i class="material-icons small">local_shipping</i>
            <span>Services</span>
          </a>
        </li>
        <li>
          <a href="careers.html" class="flex align-items-center">
            <i class="material-icons small">person_pin</i>
            <span>Careers</span>
          </a>
        </li>
        <li>
          <a href="contact.html" class="flex align-items-center">
            <i class="material-icons small">mail_outline</i>
            <span>Contact us</span>
          </a>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>